<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Guia Press
    </a>
    <a class="navbar-brand" href="/admin/categories">
        Lista de Categorias
    </a>
    <a class="navbar-brand" href="/admin/articles/index">
        Lista de Artigos
    </a>
    <a class="navbar-brand" href="/logout">Logout</a>

</nav>